@model SeaFoodProject.KHACHHANG

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="login ">
    <div class="login-main">
        <p id="suma-error" class="error-text"></p>
        <form name="loginForm" method="post" action="/User/Login/changePassword" class="login-form" onsubmit="return validLogin()">
            
           
            <div class="login-top">
                <label for="" class="login-title active">Đổi mật khẩu</label>
            </div>
            <div class="login-form__input">
                <input class="login-email" name="username" placeholder="Họ tên" type="text" value="@Model.HOTEN" disabled>
                <input class="login-password" name="oldpassword" placeholder="Mật khẩu cũ" type="password">

                <input class="login-password" name="password" placeholder="Mật khẩu mới" type="password">
                <p id="pw-error" class="error-text"></p>
                <input class="login-password" name="repassword" placeholder="Nhập lại mật khẩu" type="password">
                <p id="repw-error" class="error-text"></p>

                <div class="g-recaptcha gg-captcha" style="margin: 0 auto;" data-sitekey="6Lcx_AMdAAAAAH1jtcsBvbjFx2ya5IX0FaEejJeb"></div>
                @Html.ValidationMessage("error")
                <button type="submit" class="login-submit">Đổi mật khẩu</button>
            </div>

        </form>
    </div>
</div>
<style>
    .login-form__input {
        display: inline-block;
        position: relative;
        top: 3px;
        margin-bottom: 8px;
    }

    .error-text {
        color: red;
        margin-bottom: 4px;
    }

    .login {
        height: auto;
    }
</style>

<script>
    function validLogin() {
        var errorMsg = document.getElementById("user-error");
        var errorPw = document.getElementById("pw-error");
        var errorrePw = document.getElementById("repw-error");
        var errorSum = document.getElementById("suma-error");

        var username = document.forms["loginForm"]["username"].value;
        var passsword = document.forms["loginForm"]["password"].value;
        var repasssword = document.forms["loginForm"]["repassword"].value;

        if (username.length <= 6) {

            errorMsg.innerHTML = "Tên đăng nhập không được để trống và phải trên 6 kí tự!";
            event.preventDefault();
        }
        else {
            errorMsg.innerHTML = "";
        }
        if (passsword == "") {
            errorPw.innerHTML = "Mật khẩu không được bỏ trống!";
            event.preventDefault();
        } else {

            errorPw.innerHTML = "";
        }

        if (repasssword == "") {
            errorrePw.innerHTML = "Xác nhận mật khẩu không được bỏ trống!";
            event.preventDefault();
        } else {
            if (passsword != repasssword) {
                errorrePw.innerHTML = "Mật khẩu không trùng khớp!";
                event.preventDefault();

            } else {
                errorPw.innerHTML = "";
            }
        }

        var response = grecaptcha.getResponse();
        if (response.length == 0) {
            errorSum.innerHTML = "Vui lòng xác nhận bạn không phải là robot!";
            event.preventDefault();
        } else {
            errorSum.innerHTML = "";
        }

    }






</script>
<!-- End : Login  -->
