@model IEnumerable<SeaFoodProject.LOAIHAISAN>

@{
    ViewBag.Title = "Quản lý loại hải sản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Mã loại
        </th>
        <th>
            Tên loại
        </th>
        <th>Hành động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENLOAI)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new {  id=item.MALOAI  }) |
            @Html.ActionLink("Xoá", "Delete", new {  id=item.MALOAI  })
        </td>
    </tr>
}

</table>
